h1{
    margin-left: 600px;
    
}
body{
    background-color: rgb(234, 87, 87);
}
.im{
    margin-left: 30%;
    
    
}
.img{
    
    margin-top: 30px;
    width: 75%;
    height: 55%;
    border-radius: 9px;
    
}

